<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content padding>
        <div>
          <ion-item class="bg-transparente">
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" [(ngModel)]="cadastro.Nome"></ion-input>
            </ion-item>
      
            <ion-item class="bg-transparente">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="cadastro.email"></ion-input>
            </ion-item>

            <ion-item class="bg-transparente">
                <ion-label position="floating">cref</ion-label>
                <ion-input type="email" [(ngModel)]="cadastro.cref"></ion-input>
              </ion-item>
      
            <ion-item class="bg-transparente">
              <ion-label position="floating">Digite uma senha</ion-label>
              <ion-input type="password" [(ngModel)]="cadastro.senha"></ion-input>
            </ion-item>
        </div>
          <ion-row>
            <ion-button (click)="salvar()"> Salvar </ion-button>
          </ion-row>
</ion-content>
