<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="backToLogin()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item class="bg-transparente">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="register.nome"></ion-input>
      </ion-item>

      <ion-item class="bg-transparente">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="register.email"></ion-input>
      </ion-item>

      <ion-item class="bg-transparente">
        <ion-label position="floating">Digite o CREF</ion-label>
        <ion-input type="password" [(ngModel)]="register.cref"></ion-input>
      </ion-item>

      <ion-item class="bg-transparente">
        <ion-label position="floating">Digite uma senha</ion-label>
        <ion-input type="password" [(ngModel)]="register.senha"></ion-input>
      </ion-item>
  </div>
    <ion-row>
      <ion-button (click)="salvar()"> Salvar </ion-button>
    </ion-row>

</ion-content>
