<ion-header>
  <ion-toolbar>
    <ion-title>ListaAlunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   
        <div *ngIf="!loading">
            <ion-card *ngFor="let aluno of ListaAlunos">
              <ion-item>
                <ion-icon (click)="edit(aluno)" color="blue" name="create" slot="end"></ion-icon>
                <ion-icon (click)="remove(aluno.uid)" color="danger" name="trash" slot="end"></ion-icon>
                <ion-label>{{ aluno.nome }}</ion-label>
              </ion-item>
            
              <ion-card-content>
                {{ aluno.email }}
              </ion-card-content>
            </ion-card>
          </div>
    
</ion-content>
