<ion-header>
  <ion-toolbar>
    <ion-title>ListaAlunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   
        <div *ngIf="!loading">
            <ion-card *ngFor="let aluno of alunos">
              <ion-item>
                <ion-icon (click)="edit(Aluno)" color="blue" name="create" slot="end"></ion-icon>
                <ion-icon (click)="remove(Aluno.uid)" color="danger" name="trash" slot="end"></ion-icon>
                <ion-label>{{ aluno.nome }}</ion-label>
              </ion-item>
            
              <ion-card-content>
                {{ Aluno.email }}
              </ion-card-content>
            </ion-card>
          </div>
    
</ion-content>
